/* .auto-complete-textfield-container {
  width: inherit;
  height: inherit;
}

.auto-complete-remove-selection {
  display: inline-block;
  margin-top: 5px;
  margin-left: -25px;
  cursor: pointer;
}

.auto-complete-textfield {
  width: 100%;
  height: 2rem;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: text;
}

.auto-complete-list {
  position: absolute;
  width: inherit;
  background-color: #ffffff;
  display: none;
}

.field-container {
  width: inherit;
}

.unorder-list {
  list-style: none;
  max-height: 20rem;
  overflow: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #e8e8e8;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
  color: #000000;
}

.autocomplete-data-list {
  padding: 1rem;
}

.autocomplete-data-list:hover {
  background-color: #eeeded;
  cursor: pointer;
}

.showDropdown {
  display: block;
}

.autocomplete-plugin-loader {
  width: 2rem;
  height: 2rem;
  border: 3px solid #d4d3d3;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.auto-complete-textfield:disabled {
  background-color: #e7e7e7;
  border: 1px solid #d5d5d5;
  cursor: default;
}

.auto-complete-list-spinner {
  padding: 1rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.arrow {
  height: 0;
  width: 0;
  border: 4px solid transparent;
  display: inline-block;
  margin-top: 5px;
  margin-left: -20px;
  cursor: pointer;
}

.arrow.down {
  border-top-color: #000;
}

.disable-list-element {
  cursor: context-menu !important;
  opacity: 0.5;
  background-color: #e5e5e5;
}

::-webkit-input-placeholder {
  text-transform: capitalize;
}

::-moz-placeholder {
  text-transform: capitalize;
}

::-ms-placeholder {
  text-transform: capitalize;
}

.view-more {
  cursor: pointer;
  background-color: #f6f5f5;
  letter-spacing: 0.5px;
}

.autocomplete-keydown-background {
  background-color: #f4f4f4;
}

.autocomplete-keydown-viewmore {
  background-color: #c8c8c8;
} */
